.header {
    display: flex;
    justify-content: space-between;
    background: #6E76F1;
    margin-bottom: 20px;
    padding: 8px 16px;
    border-radius: 8px;
}

.logo {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: Montserrat,sans-serif;
}

.side {
    display: flex;
    column-gap: 16px;
}

.userImg {
    width: 32px;
    border-radius: 50%;
    margin-right: 16px;
}
.userName {
    color: #ffffff;
    font-size: 16px;
}

.logOut {
 padding: 16px;
}